.portfolio {
    padding-top: 5%;
    position: relative;
    padding-left: 6%;
}

.project__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.project__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

.project__item:hover {
    color: rgb(91, 160, 93);
}

.project__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.project__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

img {
    width:400px;
    height: 200px;
}

.project__mask {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.project__card:hover .project__mask {
    opacity: 0.9;
}

.project__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.project__title {
    color: rgb(91, 160, 93);
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.project__button {
    color: #fff;
    position: absolute;
    bottom: 0.9rem;
    left: 0.9rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: rgb(91, 160, 93);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.project__card:hover .project__button {
    opacity: 1;
}

.project__card:hover .project__title,
.project__card:hover .project__category {
    opacity: 1;
    transform: translateY(0);
}