.portfolio {
    padding-top: 5%;
    position: relative;
    padding-left: 6%;
}

.project__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.project__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

.project__item:hover {
    color: var(--first-color);
}

.project__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.project__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}