.home {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 25%;
    position: relative;
}

.home__name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home__socials {
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    justify-content: center;
    color: var(--title-color);
}

.home__socials-link {
    background-color: var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
    align-self: center;
}

.home__socials-link:hover {
    color: hsl(130, 74%, 82%);
}


.scroll__down {
    position: relative;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
    margin-top: 10.5rem;


}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);

}

.mouse {
    border: 2px solid var(--text-color);
    display: block;
    height: 1.8rem;
    width: 1.25rem;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    position: relative;

}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }

}

.wheel {
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.17rem;
    height: 0.17rem;
    position: absolute;
    top: .25rem;
    left: 51%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
    color: var(--title-color);
}

